@media screen and (max-width: 800px){
    .Calculo{
        margin-top: 1rem;
        margin-left: 5rem;
    }
    .Integrantes{
        font-size: 13px;
        display: flex;
        flex-direction:column;
        margin-top: -1rem;
    }
    .Integrantes div{
        
        color: white;
        border-radius: 10px;
        width: 21.5rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        border: 1px solid white;
    
        padding: 2rem;
    }
    body img{
    background-image: url(https://github.com/AMontanico11/IMGs-ApS/blob/main/image%201.png);
    width: 100rem;
    height: 40rem;
    max-width: 100%;
    
    }
    .fondo-de-tabla{
        height: 20rem;
    }
    .body div .logo{
        height: 13rem;
        width: 16rem;
        position: absolute;
        margin-top: -33rem;
        margin-left: 4rem;
    }

    .start{
        margin-left: 8rem;
        margin-top: -15rem;
        position: absolute;
        
    }
    .primer{
        margin-left: 2rem;
    }
    .segundo{
        margin-left: 8rem;
    }
    /**SECCIÓN DEL MENU*/
    .Concepto h2{
        font-size: 30px;
        font-weight: 400;
        margin-left: -1.9rem;
        margin-top: 14rem;
    }
    .menu{
        height: 25rem;

    }
    .Ubication1{
        position: absolute;
        margin-top: -17rem;
        margin-left: 12.5rem;
    }
    .person{
        
        width: 10rem;
        height: 10rem;
        
    }
    .Concepto p{
        width: 10rem;
        font-size: 12px;
        font-weight: 400;
        margin-top: 3rem;
        margin-left: -3.5rem;
        text-align: justify;
        
        line-height: 0.8rem;
    
    }
    .Dir1{
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        margin-left: 1rem;
        margin-top: 9rem;
    }
    .Dir2{
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        margin-left: 2rem;
        margin-top: 1rem;
    }
    .Bromotologia{
        margin-top: -1rem;
        height: 30rem;
    }
    .ConceptoBromotologia{
        position: absolute;
        margin-left: 10rem;
        margin-top: 7rem;
        color: white;
        
    }
    .ConceptoBromotologia p{
        margin-top: 2rem;
        font-size: 14px;
        margin-top: 4rem;
        line-height: 1rem;
    }
    .ConceptoBromotologia h2{
        font-size: 32px;
        font-weight: 200;
        position: absolute;
        margin-top: -5rem;
        margin-left: -6rem;
    }
    .inferior{
        margin-top: 15rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        color: white;
        
    }
    .inferior .text{
        text-shadow: transparent;
        color: transparent;
        text-decoration: none;
    }
    .inferior div{
        margin-top: -27.5rem;
        margin-left: -1rem;
        text-align: center;
        
    }
    .inferior img{
        border-radius: 100%;
        width: 7rem;
        height: 7rem;
    }
    .boton{
        position: absolute;
        margin-left: 12rem;
        margin-top: -5rem;
    }
    .Piramide{
        height: 35rem;
    }
    .Piramide-text h1{
        font-size: 32px;
        font-weight: 150;
        margin-top: -4rem;
        
    }
    .Piramide-text p{
        width: 20rem;
        font-size: 12px;
        line-height: 1rem;
        
    }
    .Piramide-img{
        width: 13rem;
        height: 12rem;
        margin-left: 1rem;
        margin-top: 20rem;
    }
    .Dulces, .Carnes, .Verduras, .Lacteos, .Hidratos{
        font-size: 13px;
    }
    .Dulces{
        margin-top: -12rem;
        margin-left: 13rem;
    }
    .Carnes{
        margin-left: 14rem;
        margin-top: -9.5rem;
    }
    .Verduras{
        margin-left: 15rem;
        margin-top: -6.7rem;
    }
    .Lacteos{
        margin-left: 16rem;
        margin-top: -5rem;
    }
    .Hidratos{
        margin-left: 17rem;
        margin-top: -2.5rem;
    }
    .flecha{
        
        margin-top: -7rem;
        margin-left: 12rem;
    }
    .flecha1{
        margin-top: -5rem;
        margin-left: 13rem;
    }
    .flecha2{
        margin-top: -2.5rem;
        margin-left: 14rem;
    }
    .flecha2 img{
        width: 2.3rem;
        height: 1.4rem;
    }
    .flecha1 img{
        width: 2.3rem;
        height: 1.4rem;
    }
    .flecha img{
        width: 2.3rem;
        height: 1.4rem;
    }
    .tittle2{
        margin-top: -22rem;
        font-size: 30px;
        margin-left: 23%;
        
    }
    .video1{
        margin-left: 5rem;
        margin-top: -70%;
    }
    .Descripcion{
        width: 15rem;
        height: 8.75rem;
    }
    .Sector{
        height: 20rem;
    }
    .Sector p{
        margin-top: 2rem;
        font-size: 13px;
        width: 20rem;
        line-height: 1rem;
        margin-left: 1.5rem;
    }
    .seccion{
        height: 20rem;
        width: 100%;
        background-color: #29687C;
        margin-top: -5rem;
        color: white;
    
    }
   .section{
    height: 28rem;
        width: 100%;
        background-color: #29687C;
        margin-top: -5rem;
        color: white;
   }
   .section p{
    position: absolute;
    margin-top: 7rem;
    font-size: 13px;
    font-weight:unset;
    text-align: center;
    line-height: 1rem;
    margin-left: 1.5rem;
    width: 20rem;


    }
    .variado{
        height: 28rem;
        width: 100%;
        background-color: #29687C;
        margin-top: -5rem;
        color: white;
    }
    .variado p{
        position: absolute;
        margin-top: 7rem;
        font-size: 13px;
        font-weight:unset;
        text-align: center;
        line-height: 1rem;
        margin-left: 1.5rem;
        width: 20rem;
    }
    .seccion p{
    position: absolute;
    margin-top: 7rem;
    font-size: 13px;
    font-weight:unset;
    text-align: center;
    line-height: 1rem;
    margin-left: 1.5rem;
    width: 20rem;


    }
    .background{
        height: 250px;
        width: 80%;
        margin-top: -19rem;
        margin-left: 2.5rem;
    }
    .Tabla-2{
        border-top: 11px solid #D9D9D9;
        text-align: center;
        background-color: white;
        position: absolute;
        margin-top: -75%;
        margin-left: 15%;
        height:200px;
        width:70%;
        overflow-y: auto;
        overflow-x: scroll;
        
    }
    .Tabla-2::-webkit-scrollbar{
        height: 0.6rem;
        width: 0.6rem;
        background-color: #D9D9D9;
        border-radius: 10px;
    }
    .Tabla-2::-webkit-scrollbar-thumb{
        background-color: #2DB79C;
        border-radius: 10px;
    }
    .Tabla-2 .table {
        width:200px;
        /*background-color:gray;*/
    }
    .table{
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    .slider{
        height: 250px;
    }
    main {
        margin-top: -1rem;
        height: 260px;
        min-height: 200px;
        
      }
      #searchbar{
        margin-left: 4rem;
        margin-top: -16rem;
      }
      .Search-lp{
        margin-top: -15.5rem;
        margin-left: 1rem;
      }
      #list {
        margin-left: 4rem;
        margin-top: -14rem;
        
        font-size: 0.7em;
        /* margin-left: 90px; */
    }
 
      .Sección1 div img {
        width: 50rem;
        height: 10rem;
    }
    .Sección1 div {
        margin-bottom: 2rem;
        padding: 1rem 3rem 0rem 3rem;
        width: 50rem;
    }
    .Titulo-Salas{
        margin-left: 20%;
        position: absolute;
        margin-top: 6.5%;
        
        font-size: 40px;
        font-weight: 100;
    }
    .recomendado{
        margin-left: 26%;
        position: absolute;
        margin-top: 17%;
        
        font-size: 20px;
        font-weight: 100;
    }
    .ensalada{
        border-top-right-radius: 150px;
        border-bottom-right-radius: 150px;
        position: absolute;
        width: 20rem;
        height: 10rem;
        margin-top: -155rem;
        
        font-size: 12px;
    }
    .ensalada div img{
        padding: 0.2rem 0rem 0rem 1rem;
        width: 10rem;
        height: 10rem;
    }
    .Tercero{
        
        border-top-right-radius: 150px;
        border-bottom-right-radius: 150px;
        position: absolute;
        width: 20rem;
        height: 10rem;
        margin-top: -125rem;
        
        font-size: 12px;
    }
    .Tercero div img{
        padding: 0.5rem 0rem 0rem 1rem;
        width: 10rem;
        height: 10rem;
    }
    .nutria-logo-2{
        width: 12rem;
        height: 10rem;
    }
    .Cuarto{
        position: absolute;
        width: 20rem;
        height: 10rem;
        margin-top: -110rem;
        margin-left: 3.4rem;
        font-size: 12px;
    }
    
    .Cuarto div img{
        padding: 0.5rem 1rem 0rem 0rem;
        width: 10rem;
        height: 10rem;
    }
    .segundo{
        border-top-left-radius: 150px;
        border-bottom-left-radius: 150px;
        position: absolute;
        width: 20rem;
        height: 10rem;
        margin-top: -140rem;
        margin-left: 3.4rem;
        font-size: 10px;
    }
    
    .segundo div img{
        padding: 0.5rem 1rem 0rem 0rem;
        width: 10rem;
        height: 10rem;
    }
    
    .Integrantes{
        font-size: 13px;
        display: flex;
        flex-direction:column;
        margin-top: -1rem;
    }
    .Integrantes div{
        
        color: white;
        border-radius: 10px;
        width: 21.5rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        border: 1px solid white;
    
        padding: 2rem;
    }
    .primer{
        margin-left: 2.5rem;
    }
    .Imagen-Peso{
        background-size: 40rem;
    }
    .ParteDeLogo{
        margin-top: -95rem;
    }
    .Cuadrante{
    background-color: #29687C;
    position: absolute;
    width: 23.5rem;
    height: 100rem;
    margin-top: -152rem;
    margin-left: 0%;
    }
    form label{
        font-size: 25px;
    }
    form .Barra {
        width: 100%;
        height: 40px;
        background-color: #D9D9D9;
        margin-bottom: 3rem;
        border: 1px solid black;
        text-indent: 5px;
    }
    .nutria {
        position: absolute;
        margin-top: -158.4rem;
        margin-left: 20%;
        width: 170px;
        height: 130px;
    }
    .tittle3 {
        font-size: 30px;
        margin-left: 4rem;
        margin-top: 4rem;
    }
    form {
        position: absolute;
        top: 350px;
        text-align: center;
        margin-left: 20%;
        width: 60%;
        height: 300px;
        
        padding: 10px;
        box-sizing: border-box;
        background-color: #29687C;
        color: white;
      }
      form button {
        margin-left: 3%;
        width: 200px;
        height: 100px;
        font-weight: 100;
        font-size: 3vh;
        margin-top: 10rem;
        
    }
    #resultado h2 {
        margin-top: 70px;
        font-size: 20px;
    }
    #resultado img {
        width: 500vh;
        height: 300px;
    }
    .pointer{
        margin-left: 16rem;
        margin-top: -3.3rem;
        
    }
}